{:path    ["src"]
 :deps    {org.clojure/clojure     {:mvn/version "1.11.1"}
           instaparse/instaparse   {:mvn/version "1.4.12"}
           ring/ring-jetty-adapter {:mvn/version "1.9.6"}
           ring/ring-json          {:mvn/version "0.5.1"}
           compojure/compojure     {:mvn/version "1.7.0"}}
 :aliases {:dev/deps
           {:extra-deps
            {djblue/portal {:mvn/version "0.35.1"}}}}}
